h2{
    margin-top: 48px;
    margin-left: 40px;
}

.c-cards{
    padding: 50px;
    display: flex;
    gap: 20px;
}

.formulario{
    margin: 24px 48px;

    &-input{
        width: 300px;
        display: flex;
        gap: 20px;
    }
}